// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// scss-docs-start gray-color-variables
$white: #ffffff !default;
$gray-100: #fefefe !default;
$gray-200: #f2f2f2 !default;
$gray-300: #e5e5e5 !default;
$gray-400: #cccccc !default;
$gray-500: #999999 !default;
$gray-600: #666666 !default;
$gray-700: #4d4d4d !default;
$gray-800: #333333 !default;
$gray-900: #1a1a1a !default;
$black: #000000 !default;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue: #30638e !default;
$indigo: #023047 !default;
$purple: #b388eb !default;
$pink: #ef476f !default;
$red: #d1495b !default;
$orange: #fb8500 !default;
$yellow: #edae49 !default;
$green: #25a18e !default;
$teal: #70a288 !default;
$cyan: #5aa9e6 !default;
// scss-docs-end color-variables
